<%= form_with(model: scheduled_habit, local: true) do |form| %>
  <% if scheduled_habit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(scheduled_habit.errors.count, "error") %> prohibited this scheduled_habit from being saved:</h2>

      <ul>
      <% scheduled_habit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
